@page "/generos/editar/{GeneroId:int}"

<h3>Editar Generos</h3>

<FormularioGenero OnValidSubmit="Editar"
                  Genero="Genero" />

@code {
    [Parameter] public int GeneroId { get; set; }
    private Genero Genero = new Genero();

    protected override void OnInitialized()
    {
        Genero = new Genero() { Id = GeneroId, Nombre = "Comedia" };
    }

    private void Editar()
    {
        Console.WriteLine("Editando Genero de Pelicula");
        Console.WriteLine($"Id: {Genero.Id}");
        Console.WriteLine($"Nombre: {Genero.Nombre}");
    }
}
