@page "/"
@inject IRepositorio _repo

<div>
    <h3>Pelicula</h3>
    <ListadoPeliculas Peliculas="Peliculas" />
</div>


@code {
    public List<Pelicula> Peliculas;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        Peliculas = _repo.ObtenerPeliculas();
    }
}